<div class="card blue-grey darken-2">
  <div class="card-image">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/800px-Angular_full_color_logo.svg.png">
  </div>
  <div class="card-content white-text">
    <span class="card-title">
      N° {{ranked}} - Nom : {{name}}
    </span>
    <p>
      Nombre de victoire : {{win}}
    </p>
    <p>
      Nombre de défaite : {{defeat}}
    </p>
  </div>
  <div class="card-action">
    <button class="btn btn-small" (click)="ban(id)">
      Supprimer ce personnage
    </button>
  </div>
</div>
