<ul id="demos" class="dropdown-content">
  <li>
    <a routerLink="demos/bindings">Bindings</a>
    <a routerLink="demos/pipes">Pipes</a>
    <a routerLink="demos/directives">Directives</a>
    <a routerLink="demos/parent">Input/Output</a>
  </li>
</ul>

<ul id="exos" class="dropdown-content">
  <li>
    <a routerLink="exos/chrono">Chrono</a>
    <a routerLink="exos/shopping-cartV1">Shopping Cart</a>
  </li>
</ul>

<nav>
  <div class="nav-wrapper">
    <ul class="center">
      <li>
        <a routerLink="home">Home</a>
      </li>
      <li>
        <a class="dropdown-trigger" data-target="demos">
          Demos
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li>
        <a class="dropdown-trigger" data-target="exos">
          Exos
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
