<ul id="demos" class="dropdown-content">
  <li>
    <a routerLink="demos/bindings">Bindings</a>
    <a routerLink="demos/pipes">Pipes</a>
    <a routerLink="demos/directives">Directives</a>
    <a routerLink="demos/parent">Input/Output</a>
    <a routerLink="demos/fake-auth-exercise">Fake Auth Service Demo</a>
    <a routerLink="demos/reactive-forms">Reactive Forms Demo</a>
    <a routerLink="demos/guards">Guards Demo</a>
  </li>
</ul>

<ul id="exos" class="dropdown-content">
  <li>
    <a routerLink="exos/chrono">Chrono</a>
    <a routerLink="exos/shopping-cartV1">Shopping Cart</a>
    <a routerLink="exos/shopping-list-parent">Shopping Cart (I/O)</a>
    <a routerLink="exos/shopping-cart-v3">Shopping Cart With Services</a>
    <a routerLink="exos/reactive-forms-exercise">Reactive Forms</a>
    <a routerLink="exos/fireship-form">Fireship Tutorial Forms Exercise</a>
    <a routerLink="exos/fireship-form-v2">Fireship Tutorial Forms Exercise 2</a>
    <a routerLink="exos/fireship-form-v3">Fireship Tutorial Forms Exercise 3</a>
  </li>
</ul>

<nav>
  <div class="nav-wrapper">
    <ul class="center">
      <li>
        <a routerLink="home">Home</a>
      </li>
      <li>
        <a class="dropdown-trigger" data-target="demos">
          Demos
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li>
        <a class="dropdown-trigger" data-target="exos">
          Exos
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
